.page {
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
}

.header__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.no-underline {
  text-decoration: none;
}

.header__links-list {
  display: flex;
  gap: 30px;
  font-size: 18px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links-list-item {
  text-decoration: underline;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}

.logo {
  width: 148px;
  height: 105px;
}

img {
  width: 135.5px;
  height: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
}

.header-contacts {
  justify-self: end;
  align-items: flex-start;

}

.cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  margin-bottom: 180px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-title {
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 106px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.title-top {
  margin-top: 165px;
  margin-left: 50px;
}

.title-medium {
  margin-left: 380.5px;
}

.title-bottom {
  margin-left: 663px;
}

.description {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.description-slogan {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.place-a-bet {
  position: relative;
  z-index: 5;
  border: 1px solid #fff;
  padding: 11.5px 31.5px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}

.description-slogan-second-word {
  padding-left: 25px;
}

.description-slogan-third-word {
  padding-left: 23px;
}

.description-slogan-fourth-word {
  padding-left: 25px;
}

.description-slogan-fifth-word {
  padding-left: 23px;
}

.description-slogan-sixth-word {
  padding-left: 25px;
}

.description-slogan-seventh-word {
  padding-left: 23px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots {
  margin-right: 24px;
  margin-bottom: 120px;
  margin-left: 24px;
}

.title-lots {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.list-of-lots {
  display: flex;
  gap: 25px;
  padding-bottom: 30px;
  list-style: none;
}

.lot-item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 596px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.lot-one {
  background-image: url("../images/card-lot-01.jpg");
}

.lot-two {
  background-image: url("../images/card-lot-02.jpg");
}

.lot-three {
  background-image: url("../images/card-lot-03.jpg");
}

.lot-text {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
}

.title-lot {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.lot-paragraph {
  font-size: 20px;
  line-height: 120%;
}

.lots-more {
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  align-items: start;
  min-height: 595px;
  margin: 0 24px 180px;
}

.about__logo {
  display: grid;     
  justify-items: center;
  align-items: start;   
  padding-top: 35px;     
}

.logo-wrap {     
  display: flex;           
  justify-content: center; 
  align-items: center;
  width: 240px;
  height: 240px; 
  border-radius: 50%;         
  background-color: #000;     
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about-column {
  margin-top: 136px;
  padding-left: 24.5px;
}

.about__title {
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.description-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: flex;
  justify-content: space-between;
  min-height: 180px;
  padding-right: 50px;
  padding-left: 50px;
}

.footer-contacts {
  min-width: 264px;
}

.footer__links-list {
  min-width: 164px;
  padding-right: 23px;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 4px;
  list-style: none;
}

.footer__links-list-item {
  text-decoration: underline;
}

.footer__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.socials-items {
  display: flex;
  gap: 48px;
  list-style: none;
}

.socials-icon {
  width: 48px;
  height: 48px;
}